@media only screen and (min-width : 769px) {
    .aco-two-column-checkout-left form.checkout.woocommerce-checkout {
        float: left;
        width: 40%;
        padding-right: 20px;
        font-size: 0.9em;
        box-sizing: border-box;
    }

    .aco-two-column-checkout-left #aco-iframe {
        float: right;
        width: 60%;
        padding-left: 20px;
        box-sizing: border-box;
    }
}

.avarda-shipping-info p {
    margin-top: 0;
    margin-bottom: 0;
}

/* Hide shipping methods in order review if displayed in Avardas checkout */
.aco-integrated-woo-shipping-display ul#shipping_method {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
